
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;

    h2 {
        font-size: 30px;
        margin-top: 100px;
    }

    h3 {
        font-weight: 300;
        margin: -10px 0 50px 0;
    }

    .border-top {
        margin: -30px auto;
        width: 300px;
        border-top: 1.5px solid #115099;
        padding-bottom: 80px;

    }
}

.form-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    .profilbilde {
        width:35%;
        height: 400px;
        margin-top: 25px;
        border-radius: 3px;
        margin-left: 20px;
    }

    .profilbilde-mobile {
        display: none;
    }
}

  .contact-form {
    width: 90%;
    flex-direction: column;
    margin: 1rem auto;
  
      input,
      textarea {
        width: 80%;
        padding: 0.95rem 0 0.95rem 7px;
        margin: 10px 20px 10px 20px;
        border: none;
        border-radius: 7px;
        background-color: rgba(229, 234, 239, 0.5);
      }
  
      textarea {
        height: 170px;
      }

      .error-text{
        color: #FC4E49;
        width: 80%;
        text-align: left;
        font-size: 12px;
        font-style: italic;
        margin-left: 10%;
      }
    
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      padding: 10px 30px;
      border-radius: 10px;
      border: none;
      background-color: #115099;
      color: #fff;
      font-size: 15px;
      -webkit-appearance: none;
      outline: none;
      margin: 0 auto;
      cursor: pointer;
    }

    .success-message {
      display: flex;
      color: #00B500;
      margin-top: 15px;

    }
  
  }

.footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    justify-content: space-evenly;

    .footer-row {
        display: flex;
        align-items: center;

        p, a {
            font-size: 13px;
            margin: 20px 10px;
            padding: 5px 0;
            color: #000;
            text-decoration: none;
        }
    }

    .google-maps {
      width: 450px;
      height: 300px;
      padding: 0 20px;
    }
}


.copyright {
    font-size: 10px !important;
    text-align: center;
    width: 100%;

    a {
        color: #000;
    }
}


//
// ---------- MOBIL ----------
//
@media screen and (max-width: 500px) {


    .contact-form {
        width: 90%;

        input,
        textarea {
            font-size: 10px;
            padding: 10px;
            margin: 5px 0;
        }

        .button {
            width: 120px;
            padding: 7px 30px;
            font-size: 14px;
          }
      }

      .footer {
        margin: 30px auto;
    
        .footer-row {
    
            p {
                padding: 5px 0;
            }
        }
    
        .maps {
            margin-top: 50px;
        }
    }
  }

//
// ---------- MOBIL ----------
//
  @media screen and (max-width: 600px) {
    
    .copyright {
        margin-bottom: 62px;
    }
  }

//
// ---------- MOBIL ----------
//
@media screen and (max-width: 673px) {

    h3 {
        font-size: 14px;
    }

    .contact-form {
        width: 90%;
        margin: 10px auto;
    }

    .form-section {
        flex-direction: column;
    
        .profilbilde {
            display: none;
        }

        .profilbilde-mobile {
            display: block;
            width: 300px;
            height: 200px;
            border-radius: 3px;
            padding-bottom: 40px;
            margin: 0 auto;
        }
    }

  .footer {
    justify-content: center;

    .google-maps {
      width: 100%;
      height: 300px;
      padding: 0 20px;
      margin-top: 40px;
    }
  }
}




