@import "../App.scss";

#header {
    position: relative;
    flex-direction: column;

    .header-row {
        @include bg-img;
        display: flex;
        flex-direction: row;
        padding: 60px 20px;
        justify-content: center;
        align-items: center;
        height: 50px;

        .banner-container {
            position: relative;
            top: 150px;
            background-color: #0e2a56;
            border-radius: 5px 0 0 5px;
            width: 40%;
            padding: 0 40px 40px 20px ;
            height: 260px;

            img {
                position: absolute;
                width: 100px;
                right: 30px;
                bottom: 10px ;
            }
        }

        .h1 {
            color: #469cf7;
            font-size: 40px;
            margin: 15px 0 0 0;
        }

        .h2-1, .h2-2 {
            font-size: 21px;
            font-weight: 300;
            color: #fff;
        }

        .btn {
            display: inline-block;
            width: 150px;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
            text-decoration: none;
            color: #fff;
            background-color: #469cf7;
            border-radius: 3px;
        }

        .banner-img {
            position: relative;
            top: 150px;
            width: 300px;
            height: 300px;
            border-radius: 0 5px 5px 0;
        }

    }


    .illustrations-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 250px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 30px;

            p {
                font-size: 18px;
            }
        }
    }

    .illustrations {
        width: 200px;
    }
}


//
// ---------- MOBIL ----------
//

@media screen and (max-width: 1018px) {
    #header {
    
        .header-row {
    
            .banner-container {
                width: 90%;
            }
        }
    }
}


@media screen and (max-width: 853px) {
    #header {
    
        .header-row {
    
            .banner-container {
    
                img {
                    width: 70px;
                }
            }
    
            .h1 {
                font-size: 30px;
            }
    
            .h2-1, .h2-2 {
                font-size: 16px;
            }
    
            .btn {
                width: 120px;
                padding: 7px;
                font-size: 14px;
                margin-top: 20px;
            }
    
            .banner-img {
                width: 250px;
            }
    
        }

        .illustrations-row {
    
            div {
                padding: 0 10px;
            }
        }
    }
}


@media screen and (max-width: 656px) {
    #header {
    
        .header-row {
            flex-wrap: wrap;

            .banner-container {
                width: 100%;
                top: 0;
                border-radius: 5px 5px 0 0;
                padding: 0 20px 40px 20px ;
                height: 240px;
            }
    
            .banner-img {
                width: 100%;
                top: 0;
                border-radius: 0 0 5px 5px;
            }
        }

        .illustrations-row {
            flex-wrap: wrap;
            margin-top: 450px;;
    
            div {
    
                p {
                    font-size: 18px !important;
                }
            }
        }
    
        .illustrations {
            margin-top: 50px;
        }
    }   
}

@media screen and (max-width: 420px) {
    #header {

        .illustrations-row {
    
            div {
    
                p {
                    font-size: 16px !important;
                }
            }
        }
    }
}


@media screen and (max-width: 386px) {

    #header {
    
        .header-row {

            .h2-1, .h2-2 {
                font-size: 14px;
            }
        }
    }
}


